body {
  background-color: #E5F3FF;
  font-family: Arial;
}

#brand{
  color: #45277A;
  margin-left: 0px;
  text-align: center;
}

#brand a{
  color: #45277A;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  background: linear-gradient(to right,#45277A 50%,rgb(184, 0, 0) 50%, #45277A);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 375ms ease;
}

#brand a:hover {
  background-position: 0 100%
}

#container-1{
  background-color: whitesmoke;
  color: rgba(0, 0, 0, 0.753);
}

#container-2{
  background-color: #45277A;
  color: whitesmoke;  
}

#container-3{
  background-color: whitesmoke;
  color: rgba(0, 0, 0, 0.753);
}

#container-4{
  background-color: #45277A;
  color: whitesmoke;
}

.side-text{
  color:wheat;
  font-size: 16px;
  text-align: center;
  margin: 10px 0px;
  padding: 15px;
  box-shadow: 2px 2px 2px #00000041;
  border-radius: 5.5px;
}

.side-text h3{
  margin-top: 0px;
  margin-bottom: 15px;
}

.post-list {
  padding: 0px;
}

.post{
  background-color:whitesmoke;
  font-size: 16px;
  margin: 15px 0px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #0000009c;
  list-style: none;
}
.post div:first-child{
  margin-bottom: 15px;
}

.post div:nth-child(2){
  font-size: 12px;
  color: #00b85c;
  border-top: 1px solid #45277A;
  padding-top: 15px;
}

.post div:nth-child(2) a{
  font-weight: bold;
  display: block;
  float: right;
}

#post-form{
  text-align: center;
  height: 100px;
  background-color: whitesmoke;
  padding: 15px;
  padding-bottom: 35px;
  border-radius: 10px;
}

#post-form textarea{
  display: block;
  font-size: 16px;
  width: 99%;
  resize: none;
  height: 60px;
  color: rgba(0, 0, 0, 0.753);
}

#post-form button{
  color: white;
  background-color: #45277A;
  font-size: 16px;
  line-height: 45px;
  height: 45px;
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.5s;
  border: 0px;
}

#post-form button:hover {
  background-color: #6537b4;
}

.mssgtxt{
  color: #45277A;
}

#wrapper {
  max-width: 808px;
  margin: 0px auto;
}

#wrapper a:hover{
  color: #6d3ebe;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 20;
}

#profile-area {
  width: 28%;
  float: left;
}

#feed-area{
  width: 72%;
  padding-top: 67px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
}


#content:focus {
  outline: none !important;
  border:1px solid #45277A ;
  box-shadow: 0 0 2.5px #6d3ebe;
  color: #00b85c;
}

@media(max-width: 650px){
  #profile-area, #feed-area {
      width: 100%;
      max-width: 100%;
      padding-left: 0px;
  }
  .side-text{
      width: 50%;
      float: left;
      box-sizing: border-box;
      margin: 5px 0px;
  }

  .side-text:nth-child(even) {
      margin-left: 3%;
      width: 47%;
  }

  .box-content {
      height: 100px;
      margin-bottom: 15px;
      overflow-y: auto;
  }
}

@media(max-width: 480px){
  .side-text {
      width: 100%;
  }
  .side-text:nth-child(even) {
      margin-left: 0%;
      width: 100%;
  }

  .box-content {
      height: auto;
    }
}

